@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: #F7F6F3;
    font-family: 'Outfit', sans-serif;
}
.btn{
    border-radius: 4px;
}
nav ul a{
    color: rgb(109, 109, 109);
}
li{
    color: rgb(109, 109, 109);
}
nav{
    color: black;
    background-color: #F7F6F3;
    width: 100%;
}
h1,h2{
    font-weight: 500;
}
.radius{
    border-radius: 8px;
}
.wrapper {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.parallax-container{
    height: 100%;
}
.carousel .carousel-item{
    top: 24px;
}
.carousel{
    overflow: visible;
    height: 100px;
}
.section-block{
    padding: 2rem 2rem 1rem 2rem;
}
.p-on-black
{   
    font-weight: 300;
    color: rgb(224, 224, 224);
}

.bn1 {
    font-weight: 500px;
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}
.bn1:hover {
    color: #000000;
    background-color: #ffffff;
}

.btn:hover {
    color: black;
    background-color: white !important;
    border: solid 1px #000000 !important; 
}
.table-of-contents a.hover{
    border-left: solid 2px black;
}
.sticky-top
{
    position: sticky;
    top: 50px;
}
footer{
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
}